* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  padding-top: 60px; /* header ki height ke equal */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #17196a !important;
  color: #fff;
  padding: 15px 40px;
  position: fixed;
   top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  transition: 0.3s;
}

.nav a:hover {
  color: #f39c12;
}

.cart {
  position: relative;
  font-size: 22px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}